<html lang="en">
  <head>
    <!-- {{>head}} -->
    <%- include("partials/head") %>
  </head>
  <body class="light">
    <%- include("partials/header") %>
    <!-- {{>header}} -->
    <!-- <h1 class="cart-text">Cart</h1> -->
    <% if (cart.items.length === 0) { %>
      <h1 class="cart-text">Empty Cart</h1>

    <% } else { %>
      <h1 class="cart-text">Cart</h1>
      <div class="main_cart">
        <table>
          <thead>
            <tr class="firstRow">
              <th>#</th>
              <th>Item</th>
              <th>Title</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Description</th>
              <th>Option</th>
  
            </tr>
          </thead>
  
          <tbody>
            <% for(let i=0; i<cart.items.length; i++) { %>
              <% let eachItem = cart.items[i] %>
            <tr>
              <td><%= i+1 %></td>
              <td><img src="<%= eachItem.productId.imgURL %>" alt=""></td>
              <td><%= eachItem.productId.title %></td>
              <td><%= eachItem.productId.price %></td>
              <td><%= eachItem.qty %></td>
              <td class="description"><%= eachItem.productId.description %></td>
              <form action="/delete-item-cart" method="post">
              <input type="hidden" name="id" value="<%=eachItem.productId.id%>" />
                <td><button type="submit" class="deleteBtn">Delete</button>
              </form>
            </tr>
            <% } %>
  
            <tr class="lastRow">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="price">Total Price: </td>
              <td class="totalPrice"><%= cart.totalPrice %></td>
              <td>
                <form action="/payment" method="POST">
                  <button class="payNowBtn">Checkout</button>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    <% } %>
    


    <%- include("partials/footer") %>
  </body>
</html>
