<html lang="en">
  <head>
    <!-- {{>head}} -->
    <%- include("partials/head") %>
  </head>
  <body class="light">
    <%- include("partials/header") %>
    <!-- {{>header}} -->

    <section class="homepage">
      <div class="left-container">
        <h1>
          Stylish & <span>High Performance Car Accessories Essentials</span>
        </h1>
        <p>
          We're thrilled to have you here, ready to embark on an incredible
          shopping experience.
        </p>
        <h3>Involve. Inspire. Indulge.</h3>
        <button class="btn shop_now">Shop Now</button>
      </div>

      <div class="right-container">
        <div class="img-con">
          <img src="../images/main.jpg" alt="" />
        </div>
      </div>
    </section>

    <%- include("partials/ads") %>

    <section class="cart">
      <h1 class="nameOfHeader"><%=nameOfHeader%></h1>

      <% for(let p of prods) {%>
      <div class="box">
        <form action="/delete-product" method="post">
          <input type="hidden" name="id" value="<%=p.id%>" />
          <button class="x-icon-for-cart">x</button>
        </form>

        <div class="top">
          <img src="<%= p.imgURL%>" alt="" />
        </div>
        <div class="bottom">
          <h3><%= p.title%></h3>
          <h4><%= p.price%></h4>
          <h4><%= p.quantity%></h4>
          <p><%= p.description%></p>

          <form action="/add-to-cart" method="post">
            <input type="hidden" name="id" value="<%=p.id%>" />
            <button class="addToCart" type="submit">Add To Cart</button>
          </form>
        </div>
      </div>
      <% } %>
    </section>

    <%- include("partials/footer") %>
    <script src="../index.js" src="jquery-3.6.4.min.js"></script>
  </body>
</html>
