<html lang="en">
  <head>
    <!-- {{>head}} -->
    <%- include("partials/head") %>
    <style>
      .area {
        height: 100vh;
        width: 100%;

        display: grid;
        place-content: center;
      }

      .area .top-logout {
        position: relative;
      }

      .area .top-logout button {
        position: absolute;
        bottom: 10px;
        right: 5%;

        padding: 5px 20px;
        border-radius: 10px;
        background-color: var(--pure-black);
        color: var(--white);
        cursor: pointer;
      }

      .bottom-area .center {
        text-align: center;
        margin-bottom: 5rem;
      }

      .i {
        color: var(--text-low-opacity);
        margin-left: 5rem;
        font-size: 0.9rem;
        letter-spacing: 1px;
        font-weight: 400;
      }
    </style>
  </head>
  <body class="light">
    <%- include("partials/header") %>
    <!-- {{>header}} -->

    <div class="area">
      <div class="top-logout">
        <form action="/logout" method="POST">
          <button type="submit" class="logout-btn">Logout</button>
        </form>
      </div>
      <div class="bottom-area">
        <h1 class="center">Hello, <%= user.username %>!</h1>

        <div class="bottom">
          <h3>Username &nbsp;&nbsp;: <i class="i"><%= user.username %></i></h3>
          <h3>
            Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
            <i class="i"><%= user.email %></i>
          </h3>
          <h3>
            Create At &nbsp;&nbsp;&nbsp;:<i class="i"> <%= user.createdAt %></i>
          </h3>
          <h3>Updated At&nbsp;: <i class="i"><%= user.updatedAt %></i></h3>
        </div>
      </div>
    </div>
  </body>
</html>
