<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/css/cart.css" />
  </head>
  <body>
    <%- include("partials/header") %> <% if(cartCount > 0) { %>
    <div class="top container mt-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/products">Products</a></li>
          <li class="breadcrumb-item active" aria-current="page">Cart</li>
        </ol>
      </nav>
    </div>

    <div class="parent container">
      <h1 class="cart-label">Cart</h1>

      <% if(populated) { %> <% for(let i=populated.length-1; i>=0; i--) { %>
      <a href="#">
        <div class="card mb-3">
          <form action="/cart/delete" method="POST">
            <input type="hidden" name="id" value="<%= allIdToRemove[i] %>" />
            <button
              type="submit"
              class="btn-close cls-btn"
              title="Remove"
            ></button>
          </form>
          <img
            src="<%= populated[i].productId.imgURL %>"
            class="card-img-top"
            alt="<%= populated[i].productId.imgURL %>"
          />
          <div class="card-body">
            <h5 class="card-title"><%= populated[i].productId.title %></h5>
            <p class="card-text"><%= populated[i].productId.descFull %></p>
            <p class="card-text for-high-weight">
              ₱ <%= populated[i].productId.price %>
            </p>
            <p class="card-text for-high-weight">x<%= populated[i].qty %></p>
          </div>
        </div>
      </a>

      <% } %> <% } %>
      <br />
      <hr />
      <h1>Order Summary</h1>

      <table class="table text-center">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Image</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Sub Total</th>

          </tr>
        </thead>
        <tbody>
          <% for(let i=0; i<user.cart.items.length; i++) { %>
          <tr>
            <th scope="row" class="id"><%= user.cart.items[i].id %></th>
            <td ><img class="img-container" src="<%= populated[i].productId.imgURL  %>" alt=""></td>
            <td class="summary-desc"><%= populated[i].productId.description  %></td>
            <td class="price-label">₱ <%= populated[i].productId.price %></td>
            <td class="price-label"><%= populated[i].qty %></td>
            <% const test = populated[i].productId.price * populated[i].qty %>
            <td class="price-label"><%= test %></td>
          </tr>
          <% } %>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <th>Total: ₱<%= user.cart.totalPrice %></th>
          </tr>
        </tbody>
      </table>


      <div class="bottom mb-3">
        <% if(!user.address) { %>
          <form action="/order/checkout" method="POST">
            <div >
              <label
                for="recipient-name"
                class="col-form-label profile-label"
                >Address</label
              >
              <input
                type="text"
                name="address"
                class="form-control every-input"
                id="recipient-name"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary btn-checkout mt-1">Place Order</button>
          </form>
          <div class="mb-2"></div>
        <% } else { %>
          <form action="/order/checkout" method="POST">
            <button type="submit" class="btn btn-primary btn-checkout">Place Order</button>
          </form>
        <% } %>
      </div>
    </div>
    <% } else { %>
    <h1 class="container">
      <div class="text-center empty-container">
        <h1>Empty Cart</h1>
        <img src="/images/empty-cart-illustration.webp" alt="">
      </div>
    </h1>
    <% } %> <%- include("partials/footer") %>
  </body>
</html>
