<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="css/cart.css" />

  </head>
  <body>
    <%- include("partials/header") %>

    <div class="parent">
      <% if(populated) { %>
        <% for(let i=0; i<populated.length; i++) { %>
          <a href="#">
            <div class="card mb-3">
              <form action="/cart/<%= populated[id].id %>" method="DELETE">
                <button type="submit" class="btn-close"></button>
              </form>
              <img src="<%= populated[i].productId.imgURL %>" class="card-img-top" alt="<%= populated[i].productId.imgURL %>" />
              <div class="card-body">
                <h5 class="card-title"><%= populated[i].productId.title %></h5>
                <p class="card-text">
                  <%= populated[i].productId.descFull %>
                </p>
                <p class="card-text">
                  ₱ <%= populated[i].productId.price %>
               </p>
                <p class="card-text">
                   x<%= populated[i].qty %>
                </p>
                
              </div>
            </div>
          </a>
         
        <% } %>
      <% } %>
    </div>

    <%- include("partials/footer") %>
  </body>
</html>
