<html lang="en">
  <head>
    <!-- {{>head}} -->
    <%- include("partials/head") %>
    
    <style>
      .parent {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 3rem;
        place-items: center;

        margin-inline: 5%;
        margin-top: 2rem;
      }
      .card-img-top {
        height: 200px;
      }

      .card {
        position: relative;
        height: 400px;
        cursor: pointer;

      }
      .btn-primary {
        position: relative;
      }

      .buttons {
        display: flex;
        justify-content: space-around;

        position: absolute;
        bottom: 15px;
      }

      .buttons .btn:first-child {
        margin-right: 1.5rem;
      }
    
    </style>
  </head>
  <body class="light">
    <%- include("partials/header") %>
    <%- include("partials/ads") %>
    
    
    <div class="parent">
    <% for(let i=0; i<product.length; i++) { %>
        <div class="card" style="width: 18rem">
          <img src="<%= product[i].imgURL %>" class="card-img-top" alt="<%= product[i].imgURL %>" />
          <div class="card-body">
            <h5 class="card-title"><%= product[i].title %></h5>
            <p class="card-text">
              ₱ <%= product[i].price %>
            </p>
            <p class="card-text">
              <%= product[i].description %>
            </p>
            <div class="buttons">
              <a href="#" class="btn btn-primary">Add to cart</a>
              <a href="#" class="btn btn-primary">View Details</a>
            </div>
             
          </div>
        </div>
   <% } %>
  </div>

   

    %> <%- include("partials/footer") %>
  </body>
</html>
