<html lang="en">
  <head>
    <!-- {{>head}} -->
    <%- include("partials/head") %>
    
    <style>

      .parent {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 3rem;
        place-items: center;

        margin-inline: 5%;
        margin-top: 2rem;
      }

      .card-img-top {
        height: 200px;

      }

      .card {
        position: relative;
        height: 400px;
        cursor: pointer;
      }

      .btn-primary {
        position: relative;
      }

      .buttons {
        display: flex;
        justify-content: space-around;

        position: absolute;
        bottom: 15px;
      }

      .buttons .btn:first-child {
        margin-right: 1.5rem;
      }

      /* btn */
      .btn-brown {
        border: 1px solid #8f4f07;
        background: #8f4f07;
      }

      .btn-brown:hover {
        background: transparent;
        border: 1px solid #8f4f07;
        color: black;
      }

      .carousel {
        height: 600px;
      }
      .parent .card .bookmark {

        position: absolute;
        top: 5px;
        right: 5px;
    }

   
      
    </style>
  </head>
  <body class="light">
    <%- include("partials/header") %>

    <!--  -->
    <link rel="stylesheet" href="css/ads.css" />

    <div class="main-ads">
      <div class="carousel">
        <input type="radio" name="switch" id="id1" />
        <a class="thumb"><img src="../images/car_battery/car_batt4.webp" /></a>
        <div class="info">
          <a href="#" class="title">Car Battery</a>
          <span class="ep_num_title">
            <a href="#" class="ep_num">10,000</a>
          </span>
        </div>

        <input type="radio" name="switch" id="id2" />
        <a class="thumb"><img src="../images/car_engine/car_engine1.webp" /></a>
        <div class="info">
          <a href="#" class="title">Car Engine</a>
          <span class="ep_num_title">
            <a href="#" class="ep_num">10,000</a>
          </span>
        </div>

        <input type="radio" name="switch" id="id3" />

        <a class="thumb"><img src="../images/car_mags/car_wheel2.webp" /></a>
        <div class="info">
          <a href="#" class="title">Car Mags</a>
          <span class="ep_num_title">
            <a href="#" class="ep_num">11,000</a>
          </span>
        </div>
        <input type="radio" name="switch" id="id4" />

        <a class="thumb"><img src="../images/car_muffler/car_muff3.webp" /></a>
        <div class="info">
          <a href="#" class="title">Car Muffler</a>
          <span class="ep_num_title">
            <a href="#" class="ep_num">12,000</a>
          </span>
        </div>

        <input type="radio" name="switch" id="id5" />

        <a class="thumb"><img src="../images/car_radiator/car_radia3.webp" /></a>
        <div class="info">
          <a href="#" class="title">Car Radiator</a>
          <span class="ep_num_title">
            <a href="#" class="ep_num">9,000</a>
          </span>
        </div>

        <div class="nav_pills">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>

    <!--  -->
    
    <div class="parent">
    <% for(let i=0; i<product.length; i++) { %>
        <div class="card" style="width: 18rem">
          <form action="#">
            <button type="submit">
              <span class="bookmark" title="bookmark">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#8f4f07" class="bi bi-bookmark-plus-fill" viewBox="0 0 16 16" >
                  <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm6.5-11a.5.5 0 0 0-1 0V6H6a.5.5 0 0 0 0 1h1.5v1.5a.5.5 0 0 0 1 0V7H10a.5.5 0 0 0 0-1H8.5V4.5z"/>
                </svg>
                
              </span>
            </button>
            
          </form>
           
          <img src="<%= product[i].imgURL %>" class="card-img-top" alt="<%= product[i].imgURL %>" />
          <div class="card-body">
           
            <h5 class="card-title"><%= product[i].title %></h5>
            <p class="card-text">
              ₱ <%= product[i].price %>
            </p>
            <p class="card-text">
              <%= product[i].description %>
            </p>
            <div class="buttons">
              <form action="/products/<%=product[i].id%>" method="GET">
                 <button href="#" class="btn btn-outline-dark">View Details</button>
              </form>
              <form action="/auth" method="POST">
                <input type="hidden" name="id" value="<%= product[i].id %>">
                <button type="submit" href="#" class="btn btn-primary btn-brown" >Add to cart</button>
              </form>
            </div>
             
          </div>
        </div>
   <% } %>
  </div>

   

    %> <%- include("partials/footer") %>
  </body>
</html>
