<html lang="en">
  <head>
    <!-- {{>head}} -->
    <%- include("partials/head") %>
    <style>
      * {
        font-family: 'Nunito', sans-serif;
      }

      .login,
      .register {
        width: 100%;
      }

      body {
        display: grid;
        place-content: center;
      }

      form {
        width: 350px;
      }

      .alert-danger {
        height: 40px;
      }

      .btn-close {
        font-size: 0.6rem;
        height: 0px;
      }

      .p-error {
        position: relative;
        top: -8px;
      }

      .btn-brown {
        background: #8f4f07;
        color: white;
        width: 247px;
        padding: 5px;
        border-radius: 3px;
        font-size: 0.8rem;
      }

      .btn-brown:hover {
        border: 1px solid #8f4f07;
      }

      .form-label {
        font-size: 0.6rem;
      }

      .body-of-form {
        width: 300px;
      }

      .form-control {
        width: 247px;
        font-size: 0.7rem;
        border-radius: 5px;
      }

      .form-control:focus {
        box-shadow: unset;
      }

      .already {
        font-size: 0.7rem;
      }

      .login-btn {
        width: 247px;
        font-size: 0.8rem;
        border-radius: 3px;
        height: 31px;
      }

      .header-label {
        font-size: 2rem;
      }

      .p-error {
        position: relative;
        top: -7px;
      }

      .alert-danger {
        width: 247px;
        font-size: 0.7rem;
        height: 20px;
      }

      .alert-dismissible .btn-close {
        top: -4px;
      }

      .btn-close:focus {
        outline: 0;
        box-shadow: none;
      }
    </style>
  </head>
  <body class="light">
    <div class="container pt-2 border border-black rounded body-of-form">
      <h1 class="text-center mb-0 mt-1 header-label">Register</h1>
      <form action="/auth/register" method="POST" class="pt-3 p-3 mb-0">
        <!-- error -->
        <%- include('./partials/messages') %>
        <!-- end error -->

        <div class="mb-1">
          <label class="form-label mb-0">Username</label>
          <input
            type="text"
            class="form-control"
            name="username"
            value="<%= typeof username != 'undefined' ? username : ''%>"
          />
        </div>
        <div class="mb-1">
          <label class="form-label mb-0">Email address</label>
          <input
            type="email"
            class="form-control"
            name="email"
            value="<%= typeof email != 'undefined' ? email : ''%>"
          />
        </div>

        <div class="mb-1">
          <label class="form-label mb-0">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            value="<%= typeof password != 'undefined' ? password : ''%>"
          />
        </div>

        <div class="mb-1">
          <label class="form-label mb-0">Confirm Password</label>
          <input
            type="password"
            class="form-control"
            name="confirmPassword"
            value="<%= typeof confirmPassword != 'undefined' ? confirmPassword : ''%>"
          />
        </div>
        <div class="mt-3 btn-login-container">
          <button type="submit" class="btn btn-brown login">Register</button>
        </div>
        <p class="mt-2 mb-0 already">Already have an account?</p>
        <p class="">
          <a href="/auth/login" class="btn btn-outline-dark register login-btn">
            Login
          </a>
        </p>
      </form>
    </div>
  </body>
</html>
