<html lang="en">
  <head>
    <%- include("partials/head") %>

    <style>
      .card {
        margin-inline: 10%;
      }

      .col-sm-4 {
        width: 260px;
        padding: 1rem;
      }

      .product-header {
        font-family: 'Cabin Sketch', cursive;
        margin-top: 2rem;
      }

      .parent {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 3rem;
        place-items: center;

        margin-inline: 5%;
        margin-top: 2rem;
      }

      .card-similar {
        height: 450px;

        position: relative;
      }

      .card-img-top {
        height: 200px;
        padding: 20px;
      }

      .buttons {
        display: flex;
        gap: 1rem;

        position: absolute;
        bottom: 10px;
        left: 23px;
      }
    </style>
  </head>
  <body>
    <%- include("partials/header") %>
    <h1 class="container product-header">Product</h1>
    <div class="card mb-5">
      <div class="row g-0">
        <div class="col-sm-4">
          <img
            src="<%=product.imgURL %>"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-sm-8">
          <div class="card-body">
            <h5 class="card-title"><%=product.title %></h5>
            <p class="card-text">₱ <%=product.price %></p>
            <p class="card-text">
              <small class="text-body-secondary"> <%=product.descFull %></small>
            </p>
            <button class="btn btn-primary btn-brown">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>

    <h1 class="container product-header">Similar Products</h1>

    <div class="parent">
      <% for(let i=0; i<similarProds.length; i++) { %>
          <div class="card card-similar" style="width: 18rem">
            <img src="<%= similarProds[i].imgURL %>" class="card-img-top" alt="<%= similarProds[i].imgURL %>" />
            <div class="card-body">
              <h5 class="card-title"><%= similarProds[i].title %></h5>
              <p class="card-text">
                ₱ <%= similarProds[i].price %>
              </p>
              <p class="card-text">
                <%= similarProds[i].description %>
              </p>
              <div class="buttons">
                <form action="/products/<%=similarProds[i]._id%>" method="GET">
                   <button href="#" class="btn btn-outline-dark">View Details</button>
                </form>
                <button type="submit" href="#" class="btn btn-primary btn-brown">Add to cart</button>
              </div>
               
            </div>
          </div>
     <% } %>
    </div>

    %> <%- include("partials/footer") %>
  </body>
</html>
